<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言本</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>
    <div class="header container">
        <div class="page-header">
            <h1>留言板列表</h1>
            <a href="/add" class="btn btn-success">发表留言</a>
        </div>
    </div>
    <div class="comments container">
        <ul class="list-group">
            <li class="list-group-item">王耿说：好好学习呀<span class="pull-right">2019-10-10 12:10:11</span></li>
            <li class="list-group-item">蔵青安说：好好学习呀<span class="pull-right">2019-9-10 11:11:11</span></li>
            <li class="list-group-item">巧巧说：好好学习呀<span class="pull-right">2019-8-10 10:10:11</span></li>
            <li class="list-group-item">我说：好好学习呀<span class="pull-right">2019-7-10 9:9:11</span></li>
        </ul>
    </div>
</body>
</html>